body
{
    font: 600 18px/20px 'Open Sans',sans-serif;

    margin: 0;
    background: rgba(40,57,101,.9);
    color: #6a6f8c;
}
*,
:after,
:before
{
    box-sizing: border-box;
    margin: 0;
}
.clearfix:after,
.clearfix:before
{display: table;

    content: '';
}
.clearfix:after
{display: block;
    clear: both;
}
a
{
  text-decoration: none;
  color: inherit;
}

.nav{
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: #111;
  height: 50px;
}
/* ul li a{
  font-size: 2vw;
} */
.nav-item-2{
  margin-left: 600px;
}

.photoify{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'American Typewriter', serif;
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.login-wrap
{
    position: relative;

    width: 100%;
    max-width: 525px;
    min-height: 670px;
    margin: auto;
}
.login-html
{
    position: absolute;

    width: 100%;
    height: 100vh;
    padding: 40px 40px;
    max-height: 500px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: all .4s linear;
    transform: rotateY(180deg);

    backface-visibility: hidden;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check
{
    display: none;
}
.login-html .tab
{
    font-size: 20px;

    display: inline-block;

    margin: 0 20px 20px 0;
    margin-right: 15px;
    padding-bottom: 5px;

    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab
{
    color: #fff;
    border-color: #1161ee;
    font-size: 20px;
}
.login-form
{
    position: relative;

    min-height: 345px;

    perspective: 1000px;
    transform-style: preserve-3d;
}
.login-form .group
{
    margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button
{
    display: block;

    width: 100%;
    color: #fff;
}
.login-form .group .input{
  font-size: 20px;
}
.login-form .group .input,
.login-form .group .button
{
    padding: 15px 20px;

    border: none;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
}
.login-form .group input[data-type='password']
{
            text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label
{
    font-size: 15px;

    color: #fff;
}
.login-form .group .button
{
    background: #1161ee;
    font-size: 15px;
}
.login-form .group label .icon
{
    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;

    border-radius: 2px;
    background: rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after
{
    position: absolute;

    width: 10px;
    height: 2px;

    content: '';
    transition: all .2s ease-in-out 0s;

    background: #fff;
}
.login-form .group label .icon:before
{
    bottom: 6px;
    left: 3px;

    width: 5px;

    transform: scale(0) rotate(0);
}
.login-form .group label .icon:after
{
    top: 6px;
    right: 0;

    transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label
{
    color: #fff;
}
.login-form .group .check:checked + label .icon
{
    background: #1161ee;
}
.login-form .group .check:checked + label .icon:before
{
    transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after
{
    transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm
{
    transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm
{
    transform: rotate(0);
}

.hr
{
    height: 2px;
    margin: 60px 0 50px 0;

    background: rgba(255,255,255,.2);
}
.foot-lnk
{
    text-align: center;
}
.login{
  padding-top: 5px;
}

@media(max-width:600px)
{
    .login-html
    {
        width: 100vw;
    }

    .photoify{
      padding-top: 0px;
    }
}

.profile{
  display: flex;
  justify-content: space-between;
}

.profile-edit-btn{
  max-height: 40px;
}

.profile-image img{
  border-radius: 50%;
}

.profile-edit
{
  display: flex;
  justify-content: center;
}

/* Profile Section */


/* settings */
.container {
  margin-top: 50px;
}



/* ------------------------------- */
/* Media Section
---------------------------------- */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.d-flex {
  display: -ms-flexbox;
  display: flex;
}
.media .mr-3{
  margin-right: 1rem;
}
.media img{
  width: 48px;
  height: 48px;
  padding: 2px;
  border: 2px solid #f4f4f4;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: .4rem;
}
.media-body p{
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  font-size: 14px;
  color: #88898a;
}
.media-body small span{
  font-family: 'Rokkitt', serif;
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

.new-post{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.upload{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  font-size: 40px;
}
.upload-button{
    font-size: 25px;
}
